.container {
    width: 600px;
    height: 300px;
}

.title {
    color: #c3c3c3;
}

.slide {
    margin-left: 30px;
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    font-size: large;
    font: bold;
}

.link {
    text-decoration: none;
    color: #fff;
}

.link:hover {
    color:  #666666;
}

.git {
    display: flex;
    align-items: center;
}

.linguage {
    display: flex;
    align-items: center;
    color: #fff;
}
