.subTitle {
  margin-left: 30px;
  margin-top: 20px;
  color: #5a5b61;
  font-size: 14px;
}

.company {
  margin-left: 30px;
  margin-top: -20px;
  color:#81838a;
  font-size: 14px;
}

.assignments {
  font-size: 12px;
  color: #5a5b61;
}